# Ignore specific compressed files
*.tar.gz
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz

#ignore pytorchlighting checkpoints folder
**/checkpoints
**/lightning_logs

# Ignore the folder and everything inside it
codes/L01_Intro&Tokenization/corpora/
codes/L01_Intro&Tokenization/wandb

# HW3 ignore    
**/L03_Attention_TF_Architectures/wandb
**/L03_Attention_TF_Architectures/**/*.csv
**/L03_Attention_TF_Architectures/**/*.ttf
**/pra-apai-manee-ch1-50.txt